# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Poetry lock
# Note: we typically commit poetry.lock but we are ignoring typical mac/env noise!
